@{
    ViewData["Title"] = "Home Page";
}


@*@using Enumerable = Hub.Services.Controller.Utilities.Enumerable
    @model Hub.MVC2.ViewModels.Mongo.Processos.ListaProcessosClientesViewModel*@

@{
    ViewBag.Title = "Gerenciar Livros";
}
<link href="~/css/site.css" rel="stylesheet" />


<div class="row">
    <div class="col-lg-12">
        <div class="card shadow mb-4">
            <!-- Card Header -->
            <div class="card-header">
                <div class="col-lg-12">

                    <h6 class="mt-2 font-weight-bold float-left">Gerenciar Livros</h6>
                    <a class="btn btn-success float-right" href="Home/Create"><i class=></i>&nbsp;&nbsp;+ Add Livro</a>
                </div>
            </div>

            <!-- Card body -->
            <div class="card-body col-lg-12 align-self-center">


                <table data-page-length='100' id="table_livros" class="table datatable table-striped table-hover table-condensed">
                    <thead>
                        <tr>
                            <th style="font-weight:500">Código</th>
                            <th style="font-weight:500">Nome</th>
                            <th style="font-weight:500">Autor</th>
                            <th style="font-weight:500">Isbn</th>
                            <th style="font-weight:500">Ano Lançamento</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>


@section Scripts {

    <script src="~/js/GerenciarLivros.js" type="text/javascript"></script>
}




